# ignoring all the generated docs initially
docs/*.md

# subsequent PRs will un-ignore areas that are under review until
# all docs are complete and we can drop this ignore file entirely
!docs/tough-cookie.store.md
!docs/tough-cookie.store.*
!docs/tough-cookie.memorycookiestore.md
!docs/tough-cookie.memorycookiestore.*
!docs/tough-cookie.cookiejar.md
!docs/tough-cookie.cookiejar.*
!docs/tough-cookie.serializedcookiejar.md
!docs/tough-cookie.serializedcookiejar.*
!docs/tough-cookie.createcookiejaroptions.md
!docs/tough-cookie.createcookiejaroptions.*
!docs/tough-cookie.parametererror.md
!docs/tough-cookie.permutepath.md
!docs/tough-cookie.version.md
!docs/tough-cookie.parsedate.md
!docs/tough-cookie.formatdate.md
!docs/tough-cookie.domainmatch.md
!docs/tough-cookie.defaultpath.md
!docs/tough-cookie.cookiecompare.md
!docs/tough-cookie.permutedomain.md
!docs/tough-cookie.pathmatch.md
!docs/tough-cookie.canonicaldomain.md
!docs/tough-cookie.getpublicsuffix.md
!docs/tough-cookie.getpublicsuffixoptions.md
