name: Actions-CI

on:
  push:
    branches: [master, v5]
  pull_request:
    branches: [master, v5]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies and test
        run: npm install
      - run: npm test
      - run: npm run eslint
      - run: npm run prettier
